.container {
 max-width: var(--maxWidth);
 margin: 0 auto;
 padding: 0 10px;

 height: calc(100vh - 70px);
 display: flex;
 justify-content: center;
 align-items: center;
}

.container__text {
 flex-direction: column;
}

.container__text > div {
 width: fit-content;
 margin-top: 15px;
}

.container__text > div a {
 min-width: 175px;
 max-width: 175px;
 background: white;
 box-shadow: 5px 5px #303030;
 border: 1px solid #303030;
 border-radius: 8px;
 padding: 10px;
 font-size: 18px;
 font-weight: 600;
 margin: 5px;
}

.container__text > div a:hover {
 box-shadow: 3px 3px #303030;
}

.container__text p {
 font-size: 18px;
 max-width: 600px;
 margin: 20px 0;
 line-height: 25px;
}

.container > div {
 display: flex;
 justify-content: center;
}

.container__text span {
 font-family: "Rowdies", serif;
 color: white;
 font-weight: 600;
 font-size: 2.75em;
}

.container__illustration {
 width: 600px;
 height: 500px;
}

/* Responsive */

@media screen and (width < 500px) {
 .container {
  flex-direction: column;
 }

 .container__illustration {
  width: 300px;
 }

 .container__text {
  margin-top: 50px;
 }

 .container__text span {
  font-size: 2em;
 }
 .container__text p {
  font-size: 16px;
 }
}
