.container {
 display: flex;
 margin: 0 auto;
 max-width: var(--maxWidth);
}

.container__card {
 background: white;
 border-radius: 8px;
 width: calc(100% / 4);
 margin: 0 10px;
 box-shadow: 0 0 10px 6px #d9d9d9;
}
