.container {
 max-width: var(--maxWidth);
 margin: 0 auto;
}

.container .container__hero {
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 10px;
 margin-bottom: 20px;
}

.container__title {
 font-family: var(--rowdies), serif;
 font-size: 3.5em;
 text-transform: uppercase;
 color: white;
}

.container__p {
 max-width: 500px;
 padding: 20px 0;
 margin-left: 5px;
}

.container__navbar {
 display: flex;
 width: auto;
 height: 60px;
 margin: 0 10px;
 background: white;
 border: 1px solid rgb(160, 160, 160);
 border-radius: 8px;
}

.container__card {
 display: grid;
 gap: 10px;
 grid-template-columns: repeat(4, 1fr);
 padding: 10px;

 grid-template-areas:
  "pinned pinned pinned pinned"
  ". . . .";
}

.container__illustration {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 600px;
 height: 415px;
}

.container__illustration[data-illustration="maths"] {
 background: url("/assets/MathsIllustration.svg") no-repeat center;
}
.container__illustration[data-illustration="physique-chimie"] {
 background: url("/assets/PhysiqueIllustration.svg") no-repeat center;
}
.container__illustration[data-illustration="i2d"] {
 background: url("/assets/I2dIllustration.svg") no-repeat center;
}

/* Responsive */

@media only screen and (max-width: 500px) {
 .container__title {
  font-size: 2.5em;
 }

 .container__hero {
  flex-direction: column;
  margin: 30px 10px 20px;
 }

 .container__illustration {
  all: unset;
 }

 .container__illustration > svg {
  width: 300px;
 }

 .container__card {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
   "pinned"
   ".";
 }
}
