.nav {
 width: 100%;
 height: 70px;
 max-width: var(--maxWidth);
 margin: 0 auto;
 padding: 10px;

 display: flex;
 align-items: center;
 justify-content: space-between;
}

.nav__logo {
 font-size: 2em;
 color: white;
 font-family: var(--rowdies), serif;
}

.nav__links ul {
 display: flex;
}

.nav__links ul li {
 margin: 0 15px;
}

.nav__links a {
 color: white;

 font-weight: 500;
 position: relative;
 white-space: nowrap;
 transition: 250ms;
}

.nav__links a:hover {
 color: #6170f9;
}

.nav__featureBtn {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;

 font-weight: 500;
 background: white;
 padding: 5px 10px;
 border-radius: 8px;
}

.burger__icon {
 display: none;
 visibility: hidden;
}

/* Responsive */

@media screen and (width < 768px) {
 .nav {
  position: sticky;
  top: 0;
  background: linear-gradient(
   90deg,
   rgb(131 143 255) 0%,
   rgb(153 163 255) 100%
  );
  box-shadow: 0 10px #8f9aff1f;
  z-index: 3;
 }

 .nav__links {
  z-index: 3;
  position: absolute;
 }

 .nav__links ul {
  padding-top: 50px;
  flex-direction: column;
  height: 100vh;
 }

 .nav__links ul li {
  background-color: #3498db;
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
 }

 .nav__links ul li a {
  display: block;
 }

 .nav__featureBtn {
  display: none;
  visibility: hidden;
 }

 .burger__icon {
  display: block;
  visibility: visible;
  pointer-events: all;

  border: none;
  background: none;
 }
 .burger__icon[data-open="true"]::before {
  content: "";
  position: absolute;
  background: #0f0e0e8c;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
 }

 .burger__icon:not([data-type="close"]) + .nav__links {
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 10px 0 0 10px;
  width: 300px;
  height: 100%;
  background: white;
  transform: translateX(300px);
 }

 .nav__links > div {
  display: flex;
  padding: 10px 5px;
  justify-content: space-between;
  align-items: center;
 }

 .burger__icon[data-open="true"] + .nav__links {
  animation: openMenu 500ms;
  transform: translateX(0);
 }

 .burger__icon[data-open="false"] + .nav__links {
  transform: translateX(300px);
  transition: 500ms;
 }

 .burger__icon + .nav__links {
  transform: translateX(300px);
 }

 @keyframes openMenu {
  from {
   transform: translateX(300px);
  }
  to {
   transform: translateX(0);
  }
 }
}
