.container {
 max-width: var(--maxWidth);
 margin: 0 auto;
 padding: 0 20px;

 display: flex;
 justify-content: center;
 align-items: center;
}

.container__text {
 flex-direction: column;
}

.container__text > div {
 width: fit-content;
 margin-top: 15px;
}

.container__text p {
 font-size: 18px;
 max-width: 600px;
 margin: 20px 0;
 line-height: 25px;
}

.container__btn {
 background: green;
 width: 100%;
}

.container__text > span {
 font-family: var(--rowdies), serif;
 color: white;
 font-weight: 600;
 font-size: 2.75em;
}

.container__illustration {
 width: 600px;
 height: 500px;
 background: url("/assets/_404Illustration.svg") center no-repeat;
 background-size: contain;
}

/* Responsive */

@media screen and (width < 500px) {
 .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
 }

 .container__illustration {
  width: 300px;
  height: 300px;
 }

 .container__btn {
  background: blue;
  width: 100vw;
 }

 .container__text span {
  font-size: 2em;
 }
 .container__text p {
  font-size: 16px;
 }
}
