.container {
 display: flex;
 gap: 5px;
 margin: 7px 0;

 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tag {
 position: relative;
 z-index: 2;
 text-transform: capitalize;
 font-size: 0.8em;
 font-weight: 600;
 padding: 3px;
 border-radius: 5px;
}

.container[data-page="slug"] .tag {
 font-size: 1em;
}

.tag[data-tag="maths"] {
 color: #116e5c;
 background: #1abc9c4f;
}

.container[data-page="slug"] .tag[data-tag="maths"] {
 color: #043e32;
 background: #1abc9cb0;
}

.tag[data-tag="physique"] {
 color: #866137;
 background: #ffbe764f;
}

.container[data-page="slug"] .tag[data-tag="physique"] {
 color: #565049;
 background: #ffbe76b8;
}

.tag[data-tag="chimie"] {
 color: #a22260;
 background: #e843934f;
}

.container[data-page="slug"] .tag[data-tag="chimie"] {
 color: #565049;
 background: #ffbe76b8;
}

.tag[data-tag="i2d"] {
 background: #e67e22;
}

.container[data-page="slug"] .tag[data-tag="i2d"] {
 color: #565049;
 background: #ffbe76b8;
}

.container[data-page="slug"] .tag[data-tag="spécialité"] {
 color: #565049;
 background: #ffbe76b8;
}

.tag[data-tag="spécialité"] {
 color: #902ca4;
 background: #e056fd4f;
}

.tag[data-tag="générique"] {
 color: #2e2286;
 background: #6c5ce77d;
}

.container[data-page="slug"] .tag[data-tag="générique"] {
 color: #4c3dc0;
 background: #d6d0ff7d;
}
