.hero {
 width: 100%;
 max-width: var(--maxWidth);
 display: flex;
 justify-content: space-evenly;
 padding-top: 100px;
 margin: 0 auto;
}

.hero__content {
 max-width: 650px;
}

.hero__content p {
 color: white;
 max-width: 600px;
 padding: 20px 5px;
}

.hero h1 {
 color: white;
 line-height: 1.1;
 font-size: 2.5em;
}

.hero__buttons {
 display: flex;
 align-items: center;
 margin: 10px 0;
}

.hero__buttons > a {
 color: var(--blue);
 font-weight: 500;
 background: white;
 padding: 15px 35px;
 border-radius: 8px;
 transition: transform 150ms ease-in-out;
}

.hero__buttons > div {
 margin-left: 15px;
 display: inherit;
 align-items: inherit;
}

.hero__buttons > div span {
 color: white;
 text-decoration: underline;
 padding: 0 5px;
}

.hero__stats {
 padding-top: 3.75em;
 display: flex;
 align-content: center;
 justify-content: center;
 width: 100%;
}

.hero__stats > div {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;

 background: white;
 border: 1px solid var(--blue);
 border-radius: 10px;
 margin: 5px;
 width: calc(100% / 3);
 height: 100px;
}

.hero__stats > div span {
 font-weight: 500;
}

.hero__stats > div span:first-of-type {
 font-family: "Rowdies", sans-serif;
 font-size: 1.2em;
}
